* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
    padding: 10px 15px;
    background-color: var(--button);
    color: white;
    outline: none;
    border: none;
    border-radius: 8px;
    transition: .2s ease;
    font-size: 18px;
}

button:hover{
    opacity: .7;
}

input{
    padding: 10px 15px;
    font-size: 18px;
    outline: none;
    border: none;
}

:root{
    --primary: #17a2b8;
    --button: #5e51ce;
    --delete: #e74c3e;
}

body{
    background-color: var(--primary);
    width: 100%;
    height: 100vh;
}

ion-icon{
    pointer-events: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hide{
    display: none !important;
}

.content-container{
    padding: 50px;
    height: 100%;
}

.create-new{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    color: white;
    width: 100%;
}

.create-new span{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.create-new button{
    font-size: 35px;
}

.work-space{
    width: 100%;
    height: auto;
    transform: translateY(0);
}

.work-space.out-slide{
    transform: translateY(-100%);
    transition: .5s ease-in;
}
.adding-area{
    justify-content: space-between;
}

.adding-area input{
    flex: 0 1 40%;
    min-width: 25%;
    margin-right: 10px;
    text-align: center;
    border-radius: 8px;
}

.adding-area button{
    flex: 0 1 15%;
}

.listing-area{
    padding-block: 20px;
}

.board-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    padding: 5px 8px;
    font-size: 18px;
    position: relative;
}

.clear-terms{
    cursor: pointer;
    transition: .2s ease;
    background-color: transparent;
    position: absolute;
    height: 100%;
    padding: 5px 8px;
    right: 0;
}

.clear-terms:hover{
    background-color: var(--delete);
}

.listing{
    display: flex;
    flex-direction: column;
    border: 1px white solid;
    border-top: 0px;
    font-size: 18px;
}

.listing-item{
    position: relative;
}

.listing-item.updated{
    background: none;
    animation: update 1.2s ease-in-out forwards;
    /* transition: .3s ease all; */
}

@keyframes update {
    0% {
        background-color: #17a2b8;
    }
    50% {
        background-color: #40f5ce;
    }
    100%{
        background: #17a2b8;
    }
}
.title > *,.listing-item >* {
    padding: 5px 8px;
    text-align: left;
    flex: 1 1 100%;
    border-bottom: 1px white solid;
}

.functions{
    position: absolute;
    right: 0;
    display: flex;
    flex: row;
    height: 100%;
    padding: 0;
    opacity: .5;
    transition: .2s ease all;
}

.remove-item, .update-item{
    font-weight: 700;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    transition: .2s ease all;
    padding-inline: 10px;
}

.functions:hover{
    opacity: 1;
}

.remove-item:hover{
    background-color: var(--delete);
}

.update-item:hover{
    background-color: var(--button);
}
.title *{
    font-weight: 700;
    color: white;
}

.mean{
    border-left: 1px white solid;
}

.open-flipcard{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    margin-top: 30px;
}

.flip-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.flip-functions{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    max-width: 20%;
}

.flip-functions button{
    min-width: 50px;
    max-width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.flip-view{
    flex: 0 1 30%;
    cursor: pointer;
}   

.current{
    cursor: pointer;
}

.flip-view *,
.current *{
    font-size: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    pointer-events: none;
}

.flip-view *{
    background-color: white;
}

.current span{
    font-size: 40px;
}

.current{
    height: 80%;
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: .5s ease all;
}

.current.flip{
    transform: rotateY(180deg);
}

.current > *{
    position: absolute;
    inset: 0 0 0 0;
    text-align: center;
    backface-visibility: hidden;
}

.front-side{
    background-color: white;
}

.back-side{
    background-color: black !important;
    color: white;
    transform: rotateY(180deg);
    z-index: 10;
}

.flip-show{
    flex: 1 1;
    max-width: 40%;
    display: flex;
    align-items: center;
}

.done{
    background-color: rgb(63, 189, 63);
}

.pass{
    background-color: var(--delete);
}

.disable{
    opacity: .6 !important;
    pointer-events: none !important;
}

.move-back{
    position: fixed;
    font-size: 30px;
    border: 3px white solid;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s ease all;
    bottom: 20px;
    right: 20px;
}

.move-back:hover{
    background-color: white;
    color: var(--primary);
}

.congratulation{
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;
}

.congratulation.is-shown{
    display: flex;
}

.congratulation.is-shown .congratulation-inner{
    animation: inner-slide-in .5s ease-in forwards;
    opacity: 1;
    transform: translateY(0);
}

@keyframes inner-slide-in {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.congratulation.congrats-close .congratulation-inner{
    animation: inner-slide-out .5s ease-in forwards;
    opacity: 0;
    transform: translateY(-100%);
}

@keyframes inner-slide-out {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(-100%);
    }
}

.congratulation-inner{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    transition: .5s ease all;
}

.congratulation-inner * {
    display: block;
    margin-inline: auto;
    letter-spacing: 2px;
}

.congratulation-inner span{
    margin-bottom: 20px;
    font-size: 25px;
}