* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
    padding: 10px 15px;
    background-color: var(--button);
    color: white;
    outline: none;
    border: none;
    border-radius: 8px;
    transition: .2s ease;
    font-size: 18px;
}

button:hover{
    opacity: .7;
}

input{
    padding: 10px 15px;
    font-size: 18px;
    outline: none;
    border: none;
}

:root{
    --primary: #17a2b8;
    --button: #5e51ce;
    --delete: #e74c3e;
}

body{
    background-color: var(--primary);
    width: 100%;
    height: 100vh;
}

ion-icon{
    pointer-events: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hide{
    display: none !important;
}

.content-container{
    padding: 50px;
    display: flex;
    height: 100%;
}

.create-new{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    color: white;
    width: 100%;
}

.create-new span{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.create-new button{
    font-size: 35px;
}

.work-space{
    width: 100%;
    height: auto;

}

.adding-area{
    justify-content: space-between;
}

.adding-area input{
    flex: 0 1 40%;
    min-width: 25%;
    margin-right: 10px;
    text-align: center;
    border-radius: 8px;
}

.adding-area button{
    flex: 0 1 15%;
}

.listing-area{
    padding-block: 20px;
}

.added-terms{
    border: 1px white solid;
    display: block;
    font-size: 18px;
    padding: 5px 8px;
}

.listing{
    display: flex;
    flex-direction: column;
    border: 1px white solid;
    border-top: 0px;
    font-size: 18px;
}

.listing-item{
    position: relative;
}

.listing-item.updated{
    background: none;
    animation: update 1.2s ease-in-out forwards;
    /* transition: .3s ease all; */
}

@keyframes update {
    0% {
        background-color: #17a2b8;
    }
    50% {
        background-color: #40f5ce;
    }
    100%{
        background: #17a2b8;
    }
}
.title > *,.listing-item >* {
    padding: 5px 8px;
    text-align: left;
    flex: 1 1 100%;
    border-bottom: 1px white solid;
}

.functions{
    position: absolute;
    right: 0;
    display: flex;
    flex: row;
    height: 100%;
    padding: 0;
    opacity: .5;
    transition: .2s ease all;
}

.remove-item, .update-item{
    font-weight: 700;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    transition: .2s ease all;
    padding-inline: 10px;
}

.functions:hover{
    opacity: 1;
}

.remove-item:hover{
    background-color: var(--delete);
}

.update-item:hover{
    background-color: var(--button);
}
.title *{
    font-weight: 700;
    color: white;
}

.mean{
    border-left: 1px white solid;

}